/* ここから下に記載していく */
/*font-family: AXIS+SF Pro JP apple / Gotham netfex /Century Gothic Helvetica 定番 / Avenir samsumg / Futura LV / DIN tokyo2020
font-family:'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; */

body{
  margin:0px;
  width:1200px;
  background-color:#fafafa3a;
  color:#222222;
  font-family:"Hiragino Mincho ProN";
  line-height:1.8em;
  background-image: url("..//img/background\ img.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
}

/*出現のjava script*/
.sa {
  opacity: 0.0;
  transition: all .5s ease;}
.sa.show {
  opacity: 1;
  transform: none;}
.sa–up{
  transform: translate(0, 100px);}
.sa--lr {
    transform: translate(-100px, 0);}
.sa--rl {
    transform: translate(100px, 0);}
  
  /*header*/
header{
  width:1200px;
  height:200px;
  display: block;
  z-index: 10;
  position:fixed;
}
.header_icon{
  width:100px;
  float:left;
}
.header-top ul {
  float: right;
  font-size: 15px;
  width:50%;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-top: 20px;
  }

/*top*/
/*→safariでしか動画できない*/
  .top{
    width:100%;
    height:700px;
    /*background-size: cover;
    background-image:url("../img/top_image.mp4");*/
    /*background-image:url("../img/top_image.001.jpeg")!important;
    overflow:auto!important;*/
  }

.top_title{
  display: flex;
  justify-content: space-between;
  /*font-family: "AI mincho"*/
  /*AI mincho　chiromeで使えない*/
}
.top_h{
  font-size: 120px;
  height:800px;
  margin:0px 0px 50px 50px;
  color:black;
  writing-mode: vertical-rl;
  display: flex;
}
.top_p{
  padding-top:90px;
  text-align: right;
  line-height:3em;
  font-size: 20px;
}

/*about*/
.about{
  height:910px;
  background:url("../img/about_01.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  margin: 0 auto;
  padding-top:100px;
  margin-top: 100px;
  margin-bottom: 500px;
}

.text_about{
  width:70%;
  height:1000px;
  margin-top: 80px;
  background: rgba(255,255,255,0.5);
}
.about_logoimg{
  width:100%;
  margin:0 auto;
}
.containts_about{
  text-align: left;
  padding-right:10px;
  padding-left: 20px;
  padding-top: 60px;}
.containts_about p{
  color:#000;
  line-height:2.0em;
}
.containts_about h{
  padding-left:20px;
}

.a{
  font-size: 24px;
  font-family: "Futura";
  color:#ffd61a;
}

.a_p{
  padding-top: 50px;
  padding-left: 20px;}
.a_p2{
  padding-top: 35px;
  padding-left: 20px}
.a_p3{
  padding-top: 40px;
  padding-left: 20px}
.a_p4{
  padding-top: 40px;
  padding-bottom: 50px;
  padding-left: 20px}

}

/*course*/

.course{
  display: flex;
}
.course_box{
  display: block;
  width:800px;
  text-align: center;
  background-color:white;
  margin:0 auto;
  padding: 50px 50px;
  background: rgba(255,255,255,0.5);
}
.p_course{
  padding-top: 30px;}


.containts_course{
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  margin-bottom: 180px;
}

.course_img {
	width:			1200px;
	height:			400px;
	overflow:		hidden;
	/*margin:			10px 8px 10px 16px;*/
	position:		relative;	/* 相対位置指定 */
}
.course_img .caption {
	font-size:		130%;
  text-align: 		center;
  padding-top: 200px;
	color:			#fff;
}
.course_img .mask {
	width:			100%;
	height:			100%;
	position:		absolute;	/* 絶対位置指定 */
	top:			0;
	left:			0;
	opacity:		0;	/* マスクを表示しない */
	background-color:	rgba(0,0,0,0.4);	/* マスクは半透明 */
	-webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
}
.course_img:hover .mask {
	opacity:		1;	/* マスクを表示する */
}

.course_text{
  margin-top: 30px;
  margin-bottom: 80px;
  width:1200px;
  height:200px;
  background-color: #fff;
  padding-top: 105px;
  text-align: center;
  background: rgba(255,255,255,0.5);
}

/*vision*/

.vision_box{
  display: block;
  width:800px;
  text-align: center;
  margin:0 auto;
  padding: 50px 50px;
  background: rgba(255,255,255,0.5);
}
.p_vision{
  padding-top: 30px;}

.vision{
   display:flex;}

.vision_word_box{
    display:flex;
    justify-content:flex-start;
    width:900px;
    height:700px;
    margin-top: 70px;
    margin-left:200px;
    background: rgba(255,255,255,0.5);
    z-index: 10}
.vision_word{
    text-align:left;
    padding-top: 120px;
    padding-left:60px;
  }
  .vision_word h{
    padding-top:20px;
    color:#ffd61a
  }
 
.vision_slideshow{
  position:absolute;
  margin-top:160px;
  margin-left:80px;}
.slideshow {
  width: 900px;
  list-style-type: none;
  position: relative;
}
.slideshow > li {
  opacity: 0;
  position: absolute;
  transition: opacity 1s ease-in-out;
}
.slideshow > li.showSlide {
  opacity: 1;
}
.slideshow > li > img {
  width : 100%;
  height: auto;
}

/*news*/

.news{
  display: flex;
}
.news_box{
  display: block;
  width:800px;
  height:100px;
  text-align: center;
  margin:0 auto;
  margin-top:150px;
  margin-bottom:50px;
  padding: 50px 50px;
  background: rgba(255,255,255,0.5);
}
.p_news{
  padding-top: 30px;}

      .news-text{
        margin-top: 60px;
        text-align: center;
      }
      .p_news{
        margin-top: 30px;
        margin-bottom: 60px;}

      .news_contants{
        display: flex;
        width:100%;
      }
      .news_d{
        /*width:300px;*/
        padding:30px 30px 30px 30px;
      }
      .n_p{
        padding-top: 30px;
        padding-bottom: 30px;
      }


.n_btn {
  display: block;
  width:300px;
  text-align: center;
  margin:60px auto;
  padding:20px;
  font-size:18px;
  font-family: "din";
  background-color:#ffd61a;
  color:white;
}
.news_btn:hover {
  opacity:0.8;
}

/*access*/
.access_box{
  display: block;
  width:800px;
  height:100px;
  text-align: center;
  margin:0 auto;
  margin-top:200px;
  margin-bottom:50px;
  padding: 50px 50px;
  background: rgba(255,255,255,0.5);
}
.access_box h{
  padding-top:60px;
}
.access_box p{
  padding-top: 30px;
}

access{
  text-align: center; 
  background-color: #fff;
}
.ggmap {
position: relative;
padding-bottom: 56.25%;
overflow: hidden;
}
 
.ggmap iframe,
.ggmap object,
.ggmap embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 300px;
padding-top: 60px;
}

.profile{
  display: flex;
  justify-content: center;
  margin-top: 0px;
  padding-bottom: 60px;
}
.profile p{
  text-align: left;
  padding-bottom: 30px;
}
.profile1{
  padding-right: 50px;
}

/*contact*/
.contact{
  text-align: center;
  margin-top:120px;
  margin-bottom:80px;
}
.c_p{
  padding-top: 30px;
}
.c_p2{
padding-top: 60px;
}
.c_p3{
  padding-top: 30px;
  padding-bottom: 70px;
}

.input{
  border-right: gray solid ;
}

.form_box{
  width:1000px;
  margin:0 auto;
}
dl{
  width:100%;
  display: flex;
  justify-content: center;

}
dt{
  text-align: left;
  width:150px;
  padding-top: 10px;
  padding-left: 16px;
  padding-right: 48px;}

.input{
  margin:8px;
  width:600px;
  height:36px;
  border:#000 /*#fafafa*/;
}
.dl span{
  display: flex;
  align-items: left;
  padding-top: 24px;
  width:600px;
}

.dd2 input{
  margin: 15px;
}
.textarea{
  margin:8px;
  width:600px;
  height:100px;
  border:#000 /*#fafafa*/;
}


.form_btn{
  display: flex;
  justify-content:center;
}
.f_btn {
  display: block;
  width:300px;
  text-align: center;
  margin-top:80px;
  margin-bottom: 140px;
  padding:20px;
  font-size:18px;
  background-color:#ffd61a;
  color:white;
}
.f_btn:hover {
  opacity:0.8;
}

.footer{
  padding:30px 0px;
  color:white;
  text-align: center;
  font-size: 16px;
  background-color: #707070;
}